.container {
	margin: 0 auto;
	font-size: 0px;
	width: 800px;
}

.box {
	border: 1px solid black;
	display: inline-block;
}

.box-one {
	background-color: green;
	width: 50%;
	height: 200px;
}

.box-two {
	background-color: blue;
	width: 50%;
	height: 200px;
}

.box-three {
	background-color: gray;
	width: 33.33%;
	height: 300px;
}

.box-four {
	background-color: rgb(30,30,30);
	width: 33.33%;
	height: 300px;
}

.box-five {
	background-color: orange;
	width: 33.33%;
	height: 300px;
}